<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/responsive.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" rel="stylesheet">
    <title>Saloon web application</title>
</head>

<body>
    <div class="Saloon_web_wrapper" data-parallax="scroll" style="background:url(images/bg1.png);">
        <div class="customrReportGenrate_summary" id="GenrateCustomer_report">
            <div class="container-fluid">
                <div class="filter_lists row">
				  <div class="col-md-12">
				        <a href="index.html" class="Exit_btn d-block d-sm-block d-md-none d-lg-none"><i class="fas fa-home"></i></a>
                        <div class="filters_byphone">
						    <a href="technician.html" class="Export_btn">Technician</a>
							<a href="other-employee.html" class="Export_btn other-employe active">Other Employee</a>
							
                       </div>
						<div class="back-tohome float-right">
						 <a href="report.html" class="Export_btn">Export to Excel</a>
						<!--  <a href="report.html" class="Export_btn">Save</a> -->
					     <a href="index.html" class="Exit_btn d-none d-sm-none d-md-block d-lg-block"><i class="fas fa-home"></i></a>
					   </div>
					   </div>
					   <div class="col-md-12">
					     <div class="appointment_summary-table genrate_customerReport table-responsive">
						    <table class="table" id="select-table">
								<thead>
									<tr>
										<th>Customer Name</th>
										<th>Phone#</th>
										<th>Since</th>
										<th>#Visit</th>
										<th>Total spent </th>
										<th>Reward point</th>
										<th>Reward level</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Ashely Thomans</td>
										<td>402-203-4587</td>
										<td>11-05-2019</td>
										<td>50</td>
										<td>$15000</td>
										<td>350</td>
										<td>Gold</td>
									</tr>
									   <tr>
										<td>Ashely Thomans</td>
										<td>402-203-4587</td>
										<td>11-05-2019</td>
										<td>50</td>
										<td>$15000</td>
										<td>350</td>
										<td>Gold</td>
									</tr>
									 <tr>
										<td>Ashely Thomans</td>
										<td>402-203-4587</td>
										<td>11-05-2019</td>
										<td>50</td>
										<td>$15000</td>
										<td>350</td>
										<td>Gold</td>
									</tr>
								   
									<tr>
										<td>Ashely Thomans</td>
										<td>402-203-4587</td>
										<td>11-05-2019</td>
										<td>50</td>
										<td>$15000</td>
										<td>350</td>
										<td>Gold</td>
									</tr>
									 <tr>
										<td>Ashely Thomans</td>
										<td>402-203-4587</td>
										<td>11-05-2019</td>
										<td>50</td>
										<td>$15000</td>
										<td>350</td>
										<td>Gold</td>
									</tr>
									 <tr>
										<td>Ashely Thomans</td>
										<td>402-203-4587</td>
										<td>11-05-2019</td>
										<td>50</td>
										<td>$15000</td>
										<td>350</td>
										<td>Gold</td>
									</tr>
									 <tr>
										<td>Ashely Thomans</td>
										<td>402-203-4587</td>
										<td>11-05-2019</td>
										<td>50</td>
										<td>$15000</td>
										<td>350</td>
										<td>Gold</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="edit_employeee-detail row" id="open_editfield" style="display:none;">
						<div class="col-md-4">
						   <div class="Employee_Info">
						        <h3>Employee Informations</h3>
								<form method="post" class="emp_Details row">
								   <div class="form-group col-md-6">
								      <input type="text" placeholder="First Name">
								   </div>
								     <div class="form-group col-md-6">
								        <input type="text" placeholder="Last Name">
								     </div>
									 <div class="form-group col-md-6">
								        <input type="text" placeholder="DOB">
								     </div>
									 <div class="form-group col-md-6">
								        <input type="text" placeholder="Social Security">
								     </div>
									  <div class="form-group col-md-6">
								        <input type="text" placeholder="Phone#">
								     </div>
									 <div class="form-group col-md-6">
								        <input type="text" placeholder="Roll">
								     </div>
									 <div class="form-group col-md-6">
								        <input type="text" placeholder="Job Begin">
								     </div>
									  <div class="form-group col-md-6">
								        <input type="text" placeholder="Job End">
								     </div>
									 <div class="form-group col-md-6">
								        <input type="text" placeholder="Address">
								     </div>
									 <div class="form-group col-md-6">
								        <input type="text" placeholder="City">
								     </div>
									  <div class="form-group col-md-6">
								        <input type="text" placeholder="State">
								     </div>
									 <div class="form-group col-md-6">
								        <input type="text" placeholder="zipcode">
								     </div>
								</form>
								<div class="update_btn_list">
								  <a href="report.html" class="Export_btn add_emp">Add</a>
					              <a href="report.html" class="Export_btn upd_emp">Update</a>
							      <a href="report.html" class="Export_btn dele_emp">Delete</a>
								</div>
						   </div>
						</div>
						<div class="col-md-4">
						   <div class="Employee_Info contact_Info">
						        <h3>Contact Informations</h3>
								<form method="post" class="emp_Details emp_contactIfo">
								  <div class="custom-radios">
									  <ul class="fancy-radios emply_contact">
										<li >
											<div class="form-check col-md-4">
												<label>
												  
													<input type="radio" name="radio" checked=""> 
													  <span class="label-text">Hourly Rate</span>
												</label>
											</div>
											<div class="form-group col-md-8">
											   <input type="text" placeholder="">
											 </div>
										</li>
										<li>
											<div class="form-check col-md-4">
												<label>
													<input type="radio" name="radio"> <span class="label-text">Overtime Rate</span>
												</label>
											</div>
											<div class="form-group col-md-8">
											   <input type="text" placeholder="">
											 </div>
										</li>
										<li>
											<div class="form-check col-md-4">
												<label>
													<input type="radio" name="radio"> <span class="label-text">Per Per Day</span>
												</label>
											</div>
											<div class="form-group col-md-8">
											   <input type="text" placeholder="">
											 </div>

										</li>
										<li>
											<div class="form-check col-md-4">
												<label>
													<input type="radio" name="radio"> <span class="label-text">Weekly</span>
												</label>
											</div>
											<div class="form-group col-md-8">
											   <input type="text" placeholder="">
											 </div>
										</li>
										<li>
											<div class="form-check col-md-4">
												<label>
													<input type="radio" name="radio"> <span class="label-text">Commission</span>
												</label>
											</div>
											<div class="form-group col-md-8">
											   <input type="text" placeholder="">
											 </div>
										</li>
										<li>
										   <div class="form-check col-md-4">
												<label>
													<input type="radio" name="radio"> <span class="label-text">By %</span>
												</label>
											</div>
											<div class="form-group col-md-8">
											   <input type="text" placeholder="">
											 </div>
										</li>
									</ul>
								 </div>
								<div class="deductions">
								    <h3>Deductions</h3>
									<div class="custom-radios">
									  <ul class="fancy-radios emply_contact">
										<li >
											<div class="form-check col-md-4">
												<label>
												  
													<input type="radio" name="radio" checked=""> 
													  <span class="label-text">Others</span>
												</label>
											</div>
											<div class="form-group col-md-8">
											   <input type="text" placeholder="">
											 </div>
										</li>
								     </div>
								</div>
							</form>
						</div>
					</div>
						
						<div class="col-md-4 employ-p-0">
						   <div class="Employee_Info contact_Info">
						        <h3>w4-Withholding</h3>
								<form method="post" class="emp_Details emp_contactIfo">
								  <div class="custom-radios">
									  <ul class="fancy-radios emply_contact w4holding">
										<li >
											<div class="form-check col-md-6">
												<label>
												  
													<input type="radio" name="radio" checked=""> 
													  <span class="label-text">Single</span>
												</label>
											</div>
											<div class="form-check col-md-6">
												<label>
													<input type="radio" name="radio"> <span class="label-text">Married</span>
												</label>
											</div>
										</li>
										
									  <div class="form-group">
									     <label>#Dependents</label>
								           <input type="text" placeholder="#Dependents">
								       </div>
									   <div class="form-group">
									       <label>Medicare%</label>
								           <input type="text" placeholder="Medicare%">
								       </div>
									   <div class="form-group">
									      <label>Social Security%</label>
								           <input type="text" placeholder="Social Security%">
								       </div>
									   <div class="form-group">
									        <label>Federal Allowance</label>
								           <input type="text" placeholder="Federal Allowance">
								       </div>
									   <div class="form-group">
									      <label>State Allowance</label>
								           <input type="text" placeholder="State Allowance">
								       </div>
									</ul>
								 </div>
								</form>
							 </div> 
						</div>
				    </div>
				</div>
			 </div>
        </div>
    </div>
 </div>
</div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>
    <script src="js/parallax.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js">
	</script>
    
    <script>
      
</script>
</body>

</html>