<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" rel="stylesheet">
    <title>Saloon web application</title>
</head>

<body>
    <div class="Saloon_web_wrapper" data-parallax="scroll" style="background:url(images/bg1.png);">
        <div class="customrReportGenrate_summary annual-growths" id="GenrateCustomer_report">
            <div class="container-fluid">
                <div class="filter_lists annual_growth_warper p-3 rounded">
                    <div class="row no-gutter">
                            <div class="annual-report emailmarketting row pt-3">
						         <div class="filter_data_list">
									  <div class="col-md-12 col-lg-8">
										<ul class="manipulate-data_btn  p-0 transaction_cc">
										 <li><a href="transaction-managementcc.html" class="print-report">CC Transaction</a></li>
											<li><a href="transaction-managementlog.html" class="print-report active">Transaction Log</a></li>
											 <li><a href="javascript:void(0)" class="today_databtn">Today</a></li>
											  <li><a href="javascript:void(0)" class="Week_databtn">This Week</a></li>
											   <li><a href="javascript:void(0)" class="Month_databtn">This Month</a></li>
												<li><a href="javascript:void(0)" class="Month_databtn">This Year</a></li>
										 </ul>
									   </div>
									  <div class="col-md-12 col-lg-4">
										  <ul class="manipulate-date_btnlist p-0 transcation_fileter filter-transctn">
											 <li>
												<div id="datepicker" class="input-group date datepicker" data-date-format="mm-dd-yyyy">
													<input class="form-control" type="text" readonly />
													<span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
												</div>  
											 </li>
											 <li>
											 <label class="todate">To</label>
											 </li>								 
											  <li>
												<div id="datepicker1" class="input-group date datepicker" data-date-format="mm-dd-yyyy">
													<input class="form-control" type="text" readonly />
													<span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
												</div>  
											  </li>	
											  <li><a href="javascript:void(0)" class="filter-btn">Filter</a></li>
											   <li><a href="index.html" class="Exit_btn homebtn"><i class="fas fa-home"></i></a></li>
										  </ul>							  
									  </div>
					              </div>
						      <div class="col-12 col-md-9 automated_Message_right">
                                <div class="appointment_summary-table table-responsive">
                                     <table class="table automated_messge" id="">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Ticket</th>
                                                <th>Trans #</th>
                                                <th>Customer</th>
                                                <th>Phone</th>
												 <th>Status</th>
												<th>Type</th>
												 <th>Sale</th>
                                                <th>Tips</th>
												<th>Discount</th>
												<th>Total</th>
												<th>Payment</th>
												<th>Completed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
											    <td>1</td>
												<td>15</td>
                                                <td>Ashely</td>
                                                <td>402-002-2568 </td>
                                                <td>Waxing $5</td>
                                                <td>2</td>
                                                <td>$5</td>
												<td>Waiting.</td>
                                                <td>12/30/18</td>
												 <td>11/30/18</td>
												 <td>11</td>
												 <td>11/30/18</td>
												 <td>11</td>

                                             </tr>
                                              <tr>
											    <td>1</td>
												<td>15</td>
                                                <td>Ashely </td>
                                                <td>402-002-2568 </td>
                                                <td>Waxing $5</td>
                                                <td>2</td>
                                                <td>$5</td>
												<td>Waiting.</td>
                                                <td>12/30/18</td>
												 <td>11/30/18</td>
												 <td>11</td>
												 <td>11/30/18</td>
												 <td>11</td>

                                             </tr>
											   <tr>
											    <td>1</td>
												<td>15</td>
                                                <td>Ashely </td>
                                                <td>402-002-2568 </td>
                                                <td>Waxing $5</td>
                                                <td>2</td>
                                                <td>$5</td>
												<td>Waiting.</td>
                                                <td>12/30/18</td>
												 <td>11/30/18</td>
												 <td>11</td>
												 <td>11/30/18</td>
												 <td>11</td>

                                             </tr>
											   <tr>
											    <td>1</td>
												<td>15</td>
                                                <td>Ashely </td>
                                                <td>402-002-2568 </td>
                                                <td>Waxing $5</td>
                                                <td>2</td>
                                                <td>$5</td>
												<td>Waiting.</td>
                                                <td>12/30/18</td>
												 <td>11/30/18</td>
												 <td>11</td>
												 <td>11/30/18</td>
												 <td>11</td>

                                             </tr>
											   <tr>
											    <td>1</td>
												<td>15</td>
                                                <td>Ashely </td>
                                                <td>402-002-2568 </td>
                                                <td>Waxing $5</td>
                                                <td>2</td>
                                                <td>$5</td>
												<td>Waiting.</td>
                                                <td>12/30/18</td>
												 <td>11/30/18</td>
												 <td>11</td>
												 <td>11/30/18</td>
												 <td>11</td>

                                             </tr>
											 
											   <tr>
											    <td colspan="2"><span class="grand"><label>Grand Total</label><input type="text"></span></td>
												<td colspan="2"><span class="grand"><label>Total Sale</label><input type="text"></span></td>
												<td colspan="2"><span class="grand"><label>Total Tip</label><input type="text"></span></td>
												<td colspan="2"><span class="grand"><label>T.Discount</label><input type="text"></span></td>
												<td colspan="2"><span class="grand"><label>T.Payment</label><input type="text"></span></td>
												<td colspan="2"><span class="grand"><label>T. Transaction</label><input type="text"></span></td>
												<td colspan="2"><span class="grand"><label>T.Ticket</label><input type="text"></span></td>
                                              </tr>
											
                                        </tbody>
                                    </table>
                                 </div>
                            </div>
							<div class="col-md-3">
							     <div class="ticket_summary_transaction_mng">
								     <h3>Ticket Summary</h3>
									   <div class="sumry">
									     <ul class="ticket_list">
										     <li><span class="ticket-count">Ticket#:15</span></li>
											 <li><span class="ticket-count">Customer:Laynda Roads</span></li>
											 <li><span class="ticket-count">Phone#:402-235-5896</span></li>
										 </ul> 
                                            <h3>Sales item</h3>	
                                            <ul class="ticket_list">
										     <li><span class="ticket-count">Kid hand Polish $15</span></li>
											 <li><span class="ticket-count">(Serviced By Cindy Le)</span></li>
											 <li><span class="ticket-count">Service Time In:10:35AM</span></li>
											  <li><span class="ticket-count">Service Time Out:10:35AM</span></li>
											  <li><span class="ticket-count">Duration:20 minutes</span></li>
											    <li><span class="ticket-count"></li>
												  <li><span class="ticket-count"></li>
												    <li><span class="ticket-count"></li>
												  <li><span class="ticket-count"></li>
												  <li><span class="ticket-count">Kid Eyebrown Wax $5</span></li>
												  <li><span class="ticket-count">(Serviced By Cindy Le)</span></li>
													 <li><span class="ticket-count">Service Time In:10:35AM</span></li>
													  <li><span class="ticket-count">Service Time Out:10:35AM</span></li>
													  <li><span class="ticket-count">Duration:5 minutes</span></li>
										   </ul>
                                      <h3>Payment</h3>	
                                            <ul class="ticket_list">
										     <li><span class="ticket-count">Payment Type: Cash</span></li>
											 <li><span class="ticket-count">Amount:$5</span></li>
											 <li><span class="ticket-count">Payment Type: Credit Card</span></li>
											   <li><span class="ticket-count">Amount:$5</span></li>
											  <li><span class="ticket-count">Total:$20</span></li>
											    <li><span class="ticket-count">Date: 11/20/19 11:15:05</li>
											 </ul>										   
									   </div>
								</div>
							</div>
							
							<div class="col-md-12 botm_transctionbtn">
								   <div class="form-group">
								      <input type="text" placeholder="Enter Ticket#">
								   </div>
								   <a href="auto-message.html" class="print-report">Search Ticket</a>
								 
								   <a href="deal-tracker.html" class="print-report">Export to Excel</a>
									<div class="float-right reprintbtn">
									  <a href="deal-tracker.html" class="print-report">Re-print Receipt</a>
									</div>
							</div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-------CREATE-CATEGORY-POPUP-WINDOW------>
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="CreateCategory" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="slect_categroy-pop">
                        <button type="button" class="close select_cat" data-dismiss="modal">&times;</button>
                        <form method="post">
                            <div class="form-group">
                                <label>Expense Category</label>
                                <select>
                                    <option>Select Category</option>
                                    <option>Silver</option>
                                    <option>Gold</option>
                                    <option>Diamond</option>
                                </select>
                            </div>

                            <button class="submit_catgry">Submit Category</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-------CREATE-CATEGORY-POPUP-WINDOW-CLOSE----->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="js/custom.js"></script>
    <script src="js/parallax.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
</body>

</html>